html,body{
    margin: 0,0;
    padding: 0 0;
}
a{
    color: rgb(0, 153, 255);
    
}

.foot_box{
    height: 26px;
    line-height: 26px;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    color: rgb(239, 245, 245);
    background-color: dimgray;
    font-size: 14px;
}