.box{
    height: 450px;
    width: 75%;
    margin: 35px auto;
    margin-left: 15%;
    margin-top: 100px;
    border: darkslateblue 2px solid;
    text-align: center;
}
.box>.title{
    text-align: center;
}
.box>table {
    width: 90%;
    margin: 0 auto;
}