{{define "publisher/modify_publisher.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Manage System</title>
    <link rel="stylesheet" href="/statics/css/basic.css">
    <link rel="stylesheet" href="/statics/css/head.css">
    <link rel="stylesheet" href="/statics/css/left.css">
    <link rel="stylesheet" href="/statics/css/list.css">
    <link rel="stylesheet" href="/statics/css/new_book.css">
</head>

<body>
    {{template "head"}}
    {{template "left"}}
    <div class="box">
        <h1 class="title">BMS Modify Publisher</h1>
        <form action="" method="post">
            <div class="form-div" style="display: none;">
                <label>编号:
                    <input type="text" name="id" value="{{.Id}}">
                </label>
            </div>
            <div class="form-div">
                <label>省名:
                    <input type="text" name="province" value="{{.Province}}">
                </label>
            </div>
            <div class="form-div">
                <label>市名:
                    <input type="text" name="city" value="{{.City}}">
                </label>
            </div>
            <div class="form-div">
                <label>名称:
                    <input type="text" name="name" value="{{.Name}}">
                </label>
            </div>
            <div class="form-div">
                <input type="submit" value="更新">
            </div>
        </form>
    </div>
    {{template "foot"}}

</body>
<script src="/statics/js/header.js"></script>
<script>
</script>

</html>
{{end}}