{
    "metrics":{
        "inputs":{
            "bminer":{
                "device":"http://127.0.0.1:1880/api/v1/status/device",
                "solver":"http://127.0.0.1:1880/api/v1/status/solver"
            },
            "xmrig":{
                "endpoint":"http://127.0.0.1:1889/1/summary"
            }
        },
        "outputs":{
            "influxdb":{
                "url":"http://52.83.203.39:8086",
                "database":"farm"
            }
        }
    }
}
