{{define "head"}} 
<div class="head-box">
    <div class="head">
        <div class="logo">
            <a href="/" class="logo_img"></a>
        </div>
        <div class="head-middle">
            <div class="head-menu">首页</div>
            <div class="head-menu">服务指南</div>
            <div class="head-menu">活动信息</div>
            <div class="head-menu">关于图书</div>
        </div>
        <div class="head-right">
            <a href="/v1/user/login">退出系统</a>
        </div>
    </div>
</div>
{{end}}