{{define "left"}}
<div class="left_box">
    <div class="left_contain">
        <div class="menu">
            <div class="pic">
                <img src="/statics/images/home-data-1.jpg" alt="">
            </div>
            <div class="msg">
                <div class="num">42202</div>
                <div class="intr">现有馆舍面积42202平方米，（包含市府路总馆、少儿分馆、老年分馆）</div>
            </div>
        </div>
        <div class="menu">
            <div class="pic">
                <img src="/statics/images/home-data-2.jpg" alt="">
            </div>
            <div class="msg">
                <div class="num">720159</div>
                <div class="intr">累计有效读者数</div>
            </div>
        </div>
        <div class="menu">
            <div class="pic">
                <img src="/statics/images/home-data-3.jpg" alt="">
            </div>
            <div class="msg">
                <div class="num">2.54万</div>
                <div class="intr">2020年外借文献册次</div>
            </div>
        </div>
        <div class="menu">
            <div class="pic">
                <img src="/statics/images/home-data-4.jpg" alt="">
            </div>
            <div class="msg">
                <div class="num">4.5万</div>
                <div class="intr">现有纸质藏书443.5万余册（含古籍文献19.15万余册）</div>
            </div>
        </div>
    </div>
</div>
{{end}}