{{define "book/new_book.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Manage System</title>
    <link rel="stylesheet" href="/statics/css/basic.css">
    <link rel="stylesheet" href="/statics/css/new_book.css">
</head>

<body>
    {{template "head"}}
    <div class="box">
        <h1 class="title">BMS Add Book</h1>
        <form action="" method="POST">
            <div class="form-div">
                <label>书名:
                    <input type="text" name="title">
                </label>
            </div>
            <div class="form-div">
                <label>价格:
                    <input type="text" name="price">
                </label>
            </div>
            <div class="form-div">
                <input type="submit" value="新增">
            </div>
        </form>
    </div>
    {{template "foot"}}
</body>

</html>
{{end}}